<template>
  <div class="races-container">
    <h1 v-if="feedback">{{ feedback }}</h1>
    <div v-else class="races-container__outer">
      <h1 class="races-container__header">Next Race in {{ countDown }}s</h1>
      <div class="races-container__inner" v-for="(race, index) in nextRaces" :key="index">
        <div v-if="index < maxRaces" class="races-container__card" >
          <div class="races-container__card-content" >
            <p class="race__race-number">{{ race.raceNumber }}</p>
            <p class="race__meeting-name">{{ race.meetingName }}</p>
            <p class="race__race-time">Time: {{ race.raceTime }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'AllRaces',
    data() {
      return {
        raceData: null,
        nextRaceIds: [],
        nextRaces: [],
        maxRaces: 5,
        countDown: 0,
        feedback: '',
        timeout: 0
      }
    },

    methods: {
      setNextToGoRaces() {
        this.nextRaces = []
        let nextRaceIds = this.raceData.next_to_go_ids;
        for(let i = 0; i < nextRaceIds.length; i++) {
          let race = this.raceData.race_summaries[nextRaceIds[i]]
          let raceTime = new Date(0)
          raceTime.setUTCSeconds(race.advertised_start.seconds)

          this.nextRaces.push({
            meetingName: race.meeting_name,
            raceNumber: race.race_number,
            raceTime: this.formatDate(raceTime),
            racetTimeDate: raceTime
          })
        }
        this.countDown = ''
        if(this.nextRaces.length <= 0) {
          this.feedback = 'No Races Scheduled.'
        } else {
          this.setCountdownTimer()
        }
      },

      setCountdownTimer() {
        let raceTime = this.nextRaces[0].racetTimeDate
        let now = new Date()
        var dif = raceTime.getTime() - now.getTime();
        this.countDown = Math.round(dif / 1000)
        this.countDownTimer()
      },

      countDownTimer() {
        if(this.countDown > 0) {
          setTimeout(() => {
            this.countDown -= 1
            this.countDownTimer()
          }, 1000)
        } else {
          let minusMinute = -60
          if(this.countDown <= 0 && this.countDown > minusMinute) {
            setTimeout(() => {
              this.countDown -= 1
              this.countDownTimer()
            }, 1000)
          } else {
            // Remove race
            this.nextRaces.shift()
            if(this.nextRaces.length < 5) {
              this.getAllRaces()
            } else {
              this.setCountdownTimer()
            }
            
          }
        }
      },

      // Requests to get racing Data
      getAllRaces() {
        // Get the race data
        this.$http.get('https://api.neds.com.au/rest/v1/racing/?method=nextraces&count=10').then(function(data) {
          this.raceData = data.body.data
          this.setNextToGoRaces()
        })
      },

      formatDate(dateString) {
        let hours = dateString.getHours()
        let minutes = dateString.getMinutes()
        if(minutes < 10) {
          minutes = '0' + minutes.toString()
        }
        return hours + ":" + minutes
      }
    },

    created() {
      this.getAllRaces()
    }
  }

</script>

<style>
  .races-container {
    margin: 0 auto;
    width: 1200px;
    max-width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .races-container__outer {
    margin-top: 30px;
    width: 80%;
    max-width: 1200px;
  }

  .races-container .races-container__header {
    margin-bottom: 60px;
    font-size: 36px;
    text-align: center;
    color: white;
    font-weight: bold;
  }
  .races-container .races-container__race-options {
    margin-bottom: 24px;
  }

  .races-container .races-container__inner {
    width: 100%;
    height: 80px;
    margin-bottom: 12px;
  }
  .races-container .races-container__card {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
  }

  .races-container .races-container__card-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .races-container .first-card {
    margin-bottom: 36px;
  }

  .races-container .race__race-number {
    margin-left: 12px;
    font-size: 36px;
    font-weight: bold;
    width: 60px;
  }

  .races-container .race__meeting-name {
    font-weight: bold;
  }

  .races-container .race__race-time {
    margin-left: auto;
    margin-right: 24px;
    font-weight: bold;
  }

  .feedback {
    margin-top: 30px;
  }
</style>