<template>
  <div class="races-container">
    <h1 v-if="feedback" class="races-container__header feedback">{{ feedback }}</h1>
    <div v-else class="races-container__outer">
      <h1 class="races-container__header">Next Harness Race in {{ countDown }}s</h1>
      <div class="races-container__inner" v-for="(race, index) in nextRaces" :key="index">
        <div v-if="index < maxRaces" class="races-container__card" >
          <div class="races-container__card-content" >
            <p class="race__race-number">{{ race.raceNumber }}</p>
            <p class="race__meeting-name">{{ race.meetingName }}</p>
            <p class="race__race-time">Time: {{ race.raceTime }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'HarnessRaces',
    data() {
      return {
        raceData: null,
        nextRaceIds: [],
        nextRaces: [],
        maxRaces: 5,
        countDown: 0,
        feedback: ''
      }
    },

    methods: {
      setNextToGoRaces() {
        this.nextRaces = []
        let nextRaceIds = this.raceData.next_to_go_ids;
        for(let i = 0; i < nextRaceIds.length; i++) {
          let race = this.raceData.race_summaries[nextRaceIds[i]]
          let raceTime = new Date(0)
          raceTime.setUTCSeconds(race.advertised_start.seconds)
          if(race.category_id === '161d9be2-e909-4326-8c2c-35ed71fb460b') {
            this.nextRaces.push(
              {
                meetingName: race.meeting_name,
                raceNumber: race.race_number,
                raceTime: this.formatDate(raceTime),
                racetTimeDate: raceTime
              }
            )
          }
        }
        this.countDown = ''
        if(this.nextRaces.length <= 0) {
          this.feedback = 'No Races Scheduled.'
        } else {
          this.setCountdownTimer()
        }
        
      },

      setCountdownTimer() {
        let raceTime = this.nextRaces[0].racetTimeDate
        let now = new Date()
        var dif = raceTime.getTime() - now.getTime();
        this.countDown = Math.round(dif / 1000)
        this.countDownTimer()
      },

      countDownTimer() {
        if(this.countDown > 0) {
          setTimeout(() => {
            this.countDown -= 1
            this.countDownTimer()
          }, 1000)
        } else {
          let minusMinute = -60
          if(this.countDown <= 0 && this.countDown > minusMinute) {
            setTimeout(() => {
              this.countDown -= 1
              this.countDownTimer()
            }, 1000)
          } else {
            // Remove race
            this.nextRaces.shift()
            if(this.nextRaces.length < 5) {
              this.getHarnessRaces()
            } else {
              this.setCountdownTimer()
            }
          }
        }
      },

      // Requests to get racing Data
      getHarnessRaces() {
        this.$http.get('https://api.neds.com.au/rest/v1/racing/?method=nextraces&count=10').then(function(data) {
          this.raceData = data.body.data
          this.setNextToGoRaces()
        })
      },

      formatDate(dateString) {
        let hours = dateString.getHours()
        let minutes = dateString.getMinutes()
        if(minutes < 10) {
          minutes = '0' + minutes.toString()
        }
        return hours + ":" + minutes
      }
    },

    created() {
      this.getHarnessRaces()
    }
  }

</script>

<style>

</style>