<template>
  <AllRaces></AllRaces>
</template>

<script>
import AllRaces from "@/components/AllRaces"
export default {
  name: 'Index',
  components: {
    AllRaces
  },

  data() {
    return {

    }
  },

}
</script>

<style>

</style>
