<template>
<div class="navbar__wrapper">
  <p class="navbar__logo">Wacky Races</p>
  <router-link :to="{ name: 'Index'}">
    <span class="navbar__item">All</span>
  </router-link>
  <router-link :to="{ name: 'GreyhoundRaces'}">
    <span class="navbar__item">Greyhound</span>
  </router-link>
  <router-link :to="{ name: 'HarnessRaces'}">
    <span class="navbar__item">Harness</span>
  </router-link>
  <router-link :to="{ name: 'HorseRaces'}">
    <span class="navbar__item">Horse</span>
  </router-link>
</div>
</template>

<script>
  export default {
    name: "Navbar",

    data() {
      return {

      }
    }
  }
</script>

<style>
.navbar__wrapper {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__wrapper .navbar__logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
  margin-left: 24px;
}

.navbar__wrapper .navbar__item {
  margin-right: 24px;
  text-decoration: none;
  color: white;
}
.navbar__wrapper .navbar__item:hover {
  margin-right: 24px;
  text-decoration:none; 
  cursor:pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transition: all .2s;
}
</style>