<template>
  <div id="app">
    <Navbar></Navbar>
    <div class="body__container">
      <router-view/>
    </div>
    <div class="hero__section"></div>
    <div class="hero__circle"></div>
    <div class="hero-stripe"></div>
  </div>
  
</template>

<script>
  import Navbar from '@/components/Navbar'
  export default {
    name: 'App',
    components: {
      Navbar
    },

    data() {
      return {

      }
    }
  }
</script>

<style>

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.body__container {
  top: 80px;
  width: 100%;
}

.hero__section {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(to right bottom, #E42362, #E20182);
  z-index: -10;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.hero__circle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(to left top, rgba(246,139,40,0.3), rgba(245,135,44,0.3));
  z-index: -9;
  clip-path: circle(30.4% at 14% 13%);
}

.hero-stripe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(to right bottom, rgba(226,1,130,0.6), rgba(245,135,44,0.8));
  z-index: -7;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

</style>
